*{
    box-sizing: border-box;
}
body{
    background-color: rgb(25, 41, 65);
}

#calculator{
    width: 26vw;
    height: 90vh;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.945);
    border-radius: 15px;
    padding: 30px;
    color: white;

}
#screen{
    width: 22vw;
    height: 20vh;
    margin: auto;
    background-color: rgb(77, 72, 72);
    border-radius: 15px;
    font-weight: bold;
    font-size: 36px;
    padding: 10px;
    overflow: hidden;
}
#keysContainer{
    font-weight: bold;
    font-size: 26px;
    width: 22vw;
    height: 60vh;
    margin: auto;
    margin-top: 15px;
    /* border: 1px solid rgba(51, 49, 49, 0.356); */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.key{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    box-shadow: 4px 4px black;
    background-color: rgba(51, 49, 49, 0.356);
    text-align: center;
    padding-top: 20px;
}
.key:hover{
    cursor: grab;
    background-color: rgba(51, 49, 49, 0.952);
    margin-top:-2px;
    
}
.operators{
    color: green;
}
#equals{
    background-color: green;
    color: black;
}
#del,#clearAll{
    color: red;
}
#hidden{
    background-color: rgba(0, 0, 0, 0.877);
}
.footer {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  .fa-github {
    color:rgb(12,13,13);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }